<div id="header">
  <div class="title">
    <h1>Petite</h1>

    <div class="header-list">
      <%= link_to "Login", tweets_top_path %>
      /
      <%= link_to "Sign in", new_user_registration_path %>
    </div>

  </div>   
</div>

<div class="wrapper9">
  <div class="box">
  </div>
  <div class="serihu">
    ちっちゃくても可愛く。
    <br>
    <br>
    ちっちゃくても自分らしく。
  </div>
</div>

<div class="ABOUT">
about
</div>

<div class="about">
<br>
低身長女子の低身長女子による低身長女子のためのサイト。
<br>
<br>
通販で服を買う時に、
<br>
「ワンピースやスカートの丈感が分からない」
<br>
「私の身長に近いモデルさんいないかな・・・」
<br>
「155cmのモデルさんが着てこれくらいだから私の身長だとこのくらいかな・・・？」
<br>
と悩むことがあるのではないでしょうか。
<br>
このサイトは、そんな悩みを持つ低身長女子に向けて作ったサイトです。
</div>



<div class="box5">
  <div class="wrapper9">
    <div class="border-radius1">
      <div class="qp">
        <br>
        <br>
        <div class="qt">
        Qestion
        </div>
        <br>
        <br>
        <div class="qd">
        自分がいいなと思った服や欲しい服の
        <br>
        サイズ感を質問できます。
        </div>
      </div>
    </div>

    <div class="border-radius2">
      <div class="rp">
        <br>
        <br>
        <div class="rt">
        Review
        </div>
        <br>
        <br>
        <div class="rd">
        自分が実際に買った服を投稿したり、
        <br>
        他の人が買った服を参考にしたり、
        <br>
        みんなで服の情報をシェアできます。
        </div>
      </div>
    </div>
  </div>
</div>


