<div id="header">
  <div class="title">
    <h1>Petite</h1>
    
    <div class="header-list">
      <%= link_to "Login", tweets_top_path %>
      /
      <%= link_to "Sign in", new_user_registration_path %>
    </div>
      
  </div>   
</div>

<div class="box">
</div>


